<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= app.name %></title>
    <meta name="description" content="get your odd jobs done or make some cash by posting on Frog Jobs.">
    <meta name="author" content="Frog Jobs">
    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />



    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/flick/jquery-ui-1.9.1.custom.min.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-timepicker-addon.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css">

    <style type="text/css">
    body {padding: 20px 0;}
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/ejs_production.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/scripts/jquery.autosize.js"></script>

    <script type="text/javascript">
      var socket = io.connect('https://' + window.location.host + '/');

      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      socket.on('jobs', function (data) {
          console.log(data);
          var html = new EJS({url: '/job.ejs'}).render({job: data});
          $('#jobs_container').prepend(html);
      });

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('.sendRequest').live('click', function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).data('message'),
              data    : $(this).data('jobid'),
              title   : 'Job Referral',
              new_style_message: true
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        // Posting a Job
        $('.job-post button').click(function() {
            var $this = $(this);
            var $form = $this.parent();
            var data = $form.serialize();
            console.log(data);
            var action = $form.attr('action');
            $.ajax({
              type: "POST",
              url: action,
              data: data,
              success: function(response) {
                // console.log(response);
              }
            });
        });

        // ui related things
        $('textarea').autosize({className:'mirroredText', append: "\n"});
        $('input[type="datetime"]').datetimepicker({ minDate: 0});
      });
    </script>

  </head>

  <body>

    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container canvas">

<!-- HERO
================================================== -->
<section id="hero">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <% if (!user) { %>
    <p><b>Frog Jobs</b> is a life style in which you can enjoy doing what you do, and find something that interests you to do in your spare time or at anytime, we know that being a student can be hard, and at some point you are going to need the extra cash, so we facilitate for you a way to find a one time job that does not require commitment, a one time fling for the extra cash.
    </p>
    <p>
    For those of you who have things that you need help with, here is the perfect place where you can post a job for a university student to help you, from the simplest things like walking your dogs to the more challenging things like planning a party.
    </p>
    <p>
    Together we create a more helpful community.<br/>
    <small>This community is currently in closed beta open to all Dalhousie Students only at the moment.</small></p>
    <p><div class="fb-login-button" data-scope="">Join Now! &raquo;</div></p>
    <% } else { %>
    <div class="avatar" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></div>
    <div>
      <h2>Welcome, <strong><%= user.name %></strong></h2>
      <p class="tagline">
        Happy to see you at
        <a href="<%= app.link %>" target="_top"><%= app.name %></a>
      </p>
    </div>
    <% } %>
  </div>

 </section>

<!-- Tables
================================================== -->
<section id="jobs">
<% if (user) { %>
  <ul class="pills">
    <li class="active"><a href="#">Jobs</a></li>
    <li><a href="#">My Jobs</a></li>
    <li><a href="#">Pending Reviews</a></li>
  </ul>

  <div class="alert-message success" style="display:none;">
    <a class="close" href="#">×</a>
    <p><strong>Well done!</strong> You successfully posted a job.</p>
  </div>

  <div class="job-post">
    <form class="clearfix" action="/post-job/" method="POST" onsubmit="return false;">
      <div class="clearfix">
        <div class="description">
          <textarea placeholder="Job Description" name="description" class="autosize"></textarea>
        </div>
        <div class="meta">
          <div class="row1 clearfix">
            <div class="input-prepend">
              <span class="add-on">$</span>
              <input class="medium" placeholder="Wage" name="wage" type="number" min="0" step="any">
            </div>
            <div class="input-prepend">
              <span class="add-on">/</span>
              <select class="medium" name="wage_type">
                <option value="hour">Hour</option>
                <option value="job">Job</option>
              </select>
            </div>
          </div>
          <div class="row2">
            <label>Due: </label><input name="end_time" type="datetime">
          </div>
        </div>
      </div>
      <button type="submit" class="btn primary">Post</button>
    </form>
    <ol id="jobs_container">
    <% jobs.forEach(function(job) {%>
      <% include job %>
    <% }) %>
    </ol>
  </div>
<% } %>
</section>

      <footer>
        <p>&copy; Frog Jobs 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
