<li>
<div class="clearfix">
  <div class="avatar" style="background-image: url(https://graph.facebook.com/<%= job._creator.fbid %>/picture?type=square)"></div>
  <div class="text">
    <a class="name" href="https://www.facebook.com/<%= job._creator.fbid %>" target="_blank"><%= job._creator.name %></a>
    <span class="description"><%= job.description %></span>
  </div>
</div>
  <div class="bottom-line">
    <% if (userobj.fbid == job._creator.fbid) { %>
        <button class="btn small success">Bump it up!</button>
    <% } else { %>
        <button class="btn small">Apply</button>
    <% } %>
    <a href="#" class="btn primary small facebook-button apprequests sendRequest" data-message="referring you for a Job" data-jobid="<%= job._id %>">
      Refer A Friend
    </a>
    <span class="offer">Offering <span class="wage"><%= job.wage %></span> per <span class="wage-type"><%= job.wage_type %></span></span></span>
  </div>
    <div style="float:right; margin-top: -5px;">Due: <span><%= job.end_time %></span></div>
</li>
